body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 500%;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

.bottom-cloud {
  position: absolute;
}

.top-container {
  background-color: #cbf1f5;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 450px;
  top: 50px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.profile {
  border-radius: 100%;
}

.skill-row {
  text-align: left;
  margin: 50px auto 100px auto;
  width: 50%;
}

p {
  line-height: 2;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto;
}

.web-img {
  width: 25%;
  height: 25%;
  float: left;
  margin-right: 30px;
}

.python-img {
  width: 25%;
  height: 25%;
  float: right;
  margin-left: 30px;
}

.intro {
  width: 30%;
  margin: auto;
}

a{
  color:#11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

.copyright{
  color: #EAF6F6;
  font-size: 60%;
  padding: 20px 0;
}

.btn {
  background: #11CDD4;
  color: #FFFFFF;
  border-radius: 8px;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 100;
  padding: 40px;
  text-shadow: 1px 1px 20px #000000;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  width: auto;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-left: 10px;
}

.btn:hover {
  background: #30E3CB;
  border-radius: 8px;
  text-decoration: none;
}
